/*=====================================
            BLOG CARD STYLE
======================================*/
.blog-card {
  border-radius: 10px;
  margin-bottom: 50px;
}

.blog-card:hover .blog-oly {
  background: rgba(0, 0, 0, 0.3);
}

.blog-card:hover .blog-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blog-card:hover .blog-text h4 a {
  color: #fe6347;
}

.blog-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 22px;
}

.blog-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.blog-oly {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.blog-oly p {
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 4px 12px;
  background: #fe6347;
  border-radius: 5px;
  color: #ffffff;
  font-size: 13px;
  line-height: 22px;
  text-transform: capitalize;
}

.blog-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
}

.blog-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
